{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/pup-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="pup-container">
  <div class="pup-img">
    <img 
      src="{% static 'images/dog2.svg' %}" 
      alt="A skater boy pup"
    >
  </div>
  <div class="pup-details">
    <h1>{{ pup.name }}</h1>
    {% if pup.age > 0 %}
      <h2>A {{ pup.age }} year old {{ pup.breed }}</h2>
    {% else %}
      <h2>A {{ pup.breed }} pup.</h2>
    {% endif %}
    <p>{{ pup.description }}</p>
    <div class="pup-actions">
      <a href="{% url 'pups_update' pup.id %}" class="btn warn">Edit</a>
      <a href="{% url 'pups_delete' pup.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}